$bodyfont: 'Poppins', sans-serif;
$headingfont: 'Poppins', sans-serif;

@import '~@angular/material/theming';

// ------------------- Material Theme -------------------
$primary: mat-palette($mat-blue, 600);  // Primary = Blue
$accent: mat-palette($mat-blue, 500);   // Accent = Blue
$warn: mat-palette($mat-red, 500);      // Warn = Red

$theme: mat-light-theme($primary, $accent, $warn);

@include mat-core();

// Custom Typography
$custom-typography: mat-typography-config(
  $font-family: 'Poppins, sans-serif'
);
@include mat-core($custom-typography);

// Apply Theme
@include angular-material-theme($theme);

// ------------------- Custom Colors -------------------
$topbar: #2196f3;
$sidebar: #fff;
$sidebar-white: #e5edef;
$sidebar-alt: #f2f6f8;
$bodycolor: #eef5f9;
$headingtext: #455a64;
$bodytext: #67757c;
$sidebar-text: #607d8b;
$sidebar-icons: #99abb4;

$font-16: 16px;

$light-text: #a6b7bf;
$themecolor: #1e88e5;
$themecolor-alt: #35a1e5;
$themecolor-dark: #028ee1;

// Bootstrap Colors
$danger: #fc4b6c;
$success: #26c6da;
$warning: #2b5dff;
$primary: #7460ee;  // your custom primary (for non-Material use)
$info: #1e88e5;
$inverse: white;
$muted: #99abb4;
$dark: #263238;
$light: #f2f4f8;
$extra-light: #ebf3f5;
$secondary: #727b84;

// Light Colors
$light-danger: #f9e7eb;
$light-success: #e8fdf8;
$light-warning: #fff8ec;
$light-primary: #f1effd;
$light-info: #e3f3fd;
$light-inverse: #f6f6f6;
$light-megna: #e0f2f4;

// Dark Colors
$danger-dark: #e6294b;
$success-dark: #1eacbe;
$warning-dark: #e9ab2e;
$primary-dark: #6352ce;
$info-dark: #028ee1;
$red-dark: #1f5fd6;
$inverse-dark: #232a37;
$dark-transparent: rgba(0, 0, 0, 0.05);

// Normal Colors
$white: #ffffff;
$red: #3a4afb;
$yellow: #a0aec4;
$purple: #7460ee;
$blue: #02bec9;
$megna: #00897b;

// Extra Variables
$rgt: right;
$lft: left;
$border: rgba(120, 130, 140, 0.13);
$table-border: #f3f1f1;
$card-brd: #d7dfe3;
$dark-text: #848a96;
$radius: 4px;
$form-brd: #d9d9d9;
