<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="tille-center">Login</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="loginForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Email</mat-label>
        <input tabindex="1" matInput formControlName="email" required />
        <mat-error
          *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid"
        >
          <span *ngIf="loginForm.controls.email.errors?.required">
            This field is mandatory.
          </span>
          <span *ngIf="loginForm.controls.email.errors?.pattern">
            This field is invalid.
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Password</mat-label>
        <input matInput tabindex="2" formControlName="password" type="password" required />
        <mat-error
          *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid"
        >
          <span *ngIf="loginForm.controls.password.errors?.required">
            This field is mandatory.
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <!-- Login Button with Spinner -->
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    tabindex="3"
    [disabled]="isLoading || !(loginForm.valid && loginForm.dirty)"
  >
    <mat-progress-spinner
      *ngIf="isLoading"
      mode="indeterminate"
      diameter="20"
      strokeWidth="3"
    ></mat-progress-spinner>
    <span *ngIf="!isLoading">Login</span>
  </button>

  <!-- Close Button -->
  <button
    mat-raised-button
    color="primary"
    mat-dialog-close
    tabindex="4"
    [disabled]="isLoading"
  >
    Close
  </button>
</mat-dialog-actions>

<!-- Links -->
<div class="links">
  <div>
    <a
      (click)="signupAction()"
      style="cursor: pointer"
      [style.color]="isLoading ? 'grey' : 'black'"
      [style.pointer-events]="isLoading ? 'none' : 'auto'"
    >
      Register
    </a>
  </div>
  <div>
    <a
      (click)="ForgotPasswordAction()"
      style="cursor: pointer"
      [style.color]="isLoading ? 'grey' : 'black'"
      [style.pointer-events]="isLoading ? 'none' : 'auto'"
    >
      Forgot Password
    </a>
  </div>
</div>
